services:

    # SIMPLE =====================================
    a1: TestClass

    a2:
        class: TestClass

    a3:
        factory: TestClass

    # OPTIONS ====================================
    b1:
        class: TestClass
        autowired: false

    b2:
        class: TestClass
        inject: true

    # ARGUMENTS ====================================
    c1a: TestClass2(1, 2)

    c1b:
        class: TestClass2
        arguments: [1, 2]

    c2a: TestClass2(1)

    c2b:
        class: TestClass2
        arguments: [a: 1]

    c3a: TestClass2(b: 2)

    c3b:
        class: TestClass2
        arguments: [b: 2]

    # TAGS =======================================
    d1:
        class: TestClass
        tags: [t1]
    d2:
        class: TestClass
        tags: [t1: foobar]

    # ARGUMENTS + PARAMETERS =====================
    e1:
        class: TestClass2
        arguments: [1]

    e2:
        class: TestClass2
        arguments: [1, 2]

    e3:
        class: TestClass2(1)

    e4:
        class: TestClass2(b: 1)

    # IMPLEMENTS (INTERFACES) ====================
    f1:
        implement: ITestInterface

    f2:
        class: TestClass
        implement: ITestInterface

    f3a:
        implement: ITestInterface2
        arguments: [1, 2]

    f3b:
        implement: ITestInterface2
        arguments: [b: 2]

    f4a:
        implement: ITestInterface3
        arguments: [1]

    f4b:
        implement: ITestInterface3
        arguments: [1]

    f5s: TestClass2
    f5:
        factory: @f5s
        implement: ITestInterfaceGet

    # REFERENCES =================================
    g1:
        class: TestClass2
        arguments: [1, 2]

    g2: @g1

    g5a:
        class: stdClass
        factory: @g1::foo()

    g5b:
        class: stdClass
        factory: @g1::foo
        arguments: [1]

    g5c:
        class: stdClass
        factory: @g1::foo(1)

    # SETUP ======================================
    h1:
        class: stdClass
        setup:
            - $a(1)
            - [@self, $a](1)
            - @self::$a(1)
            - foo(1)
            - [@self, foo](1)
            - @self::foo(1)
